@CHARSET "UTF-8";
body
{background-image: url(../images/4.jpg);}

.backInvisibleFillWidth
{
    margin-top: 5%;
    width:	100%;
}

.fixBottom::after
{
    visibility:	hidden;
    display: block;
    content: "";
    height:	0;
    clear:	both;
}

.backCoveredHouseTwoMainColumns
{
    width: 100%;
    margin:	auto;
    max-width: 1100px;
    min-width: 515px;
}

.backInvisibleHouseCommoditiesInfo
{
    width:	60%;
    display: inline-block;
    min-width: 507px;
}

.backInvisibleHouseCommodityList
{
    width:	30%;
    float:	right;
}

.backVisibleStandardColor
{
    background: linear-gradient(rgba(255, 0, 0, .4), rgba(253, 241, 77, .4));
}

.backVisibleTextAreaAndAddButt
{
    display: inline-block;
    width:100%;

    padding: 0;
    border-radius:15px 45px;
    border: 2px solid #000000;
}

/*.backTextAreaAndAddButt:hover
{
	border: 2px solid #ffffff;
}*/

.button
{
    color: #441a66;
    display: inline-block;
    background-color: #c0c0c0;
    cursor: pointer;
    position: relative;
    transition:	all	.4s	cubic-bezier(.17,.67,.04,1);
}

.buttonClicked
{
    background: linear-gradient( rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
    border-color: black;
    border-width: 4px;
}

.button:before
{
    opacity: 0;
    content: attr(data-tooltip);
    white-space: nowrap;
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
    color:white;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 5px;
    border-radius: 45px;
    border: 1px dashed #000000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;


    background: linear-gradient( rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
    transition:all 1s linear;
}

.button[data-tooltip]:not([data-tooltip=""]):hover:before
{
    opacity: 1;
    position: absolute;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 20px;
    border-radius: 45px;
    border: 1px dashed #000000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.addNewProductButt
{
    text-align: center;
    vertical-align: middle;
    color: #000000;
    padding:10px;
    margin:10px;
    margin-left:0;
    box-sizing: border-box;
    width:122px;
    float:right;
    border-radius:15px 50px;
    border: 3px solid #000000;
    font-weight: bold;
    font-family: "Comic Sans MS";
    font-size: inherit;
    background: linear-gradient(to right, red, yellow);
}

.addNewProductButt:active
{
    border: 3px solid #ffffff;
    background: linear-gradient(to right, yellow, red);
    color: white;
}

.productNameInput
{
    background-color: #dffdfd;
    text-align: center;
    vertical-align: middle;
    padding:10px;
    margin:10px;
    margin-right:0;
    margin-top:12px;
    border-radius:15px 50px;
    border: 2px solid #000000;
    width: calc(100% - 170px);
}

.productNameInput:focus
{
    border: 3px solid #ffffff;
    outline: none;
}

.backProductInfo
{
    position: relative;
    display: inline-block;
    width:100%;
    border-radius:15px 50px;
    border: 2px solid #000000;
}

.backProductInfo:hover
{
    position: relative;
    bottom: 10px;
    background: linear-gradient(rgba(255, 0, 0, .7), rgba(253, 241, 77, .7));
}

.product:nth-child(even) .backProductInfo
{border: 2px solid #ffffff;}

/*.backProductInfo:hover
{
	border: 2px solid #ffffff;
}*/

.textInProdInfo
{
    display: inline-block;
    min-width: 80px;
    max-width: 80px;
    padding: 15px;
    padding-right: 0;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.addProdButt
{
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:50%;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 30px;
    background-color: #1adb0f;
    color: #000000;
}

.addProdButt:active
{
    border: 2px solid #ffffff;
    color: #ffffff;
}

.subtractProdButt
{
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:50%;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 30px;
    background-color: #ff0000;
    color: #000000;
}

.right
{
    float:right;
    width:200px;
}

.left
{
    width:150px;
    float:left;
}

.fluid
{

    text-align: center;
    vertical-align: middle;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: auto;
    width:auto;
    padding-top:10px;
}


.subtractProdButt:active
{
    border: 2px solid #ffffff;
    color: #ffffff;
}

.prodQuantityInfo
{
    display:inline-block;
    background-color:#dffdfd;
    text-align: center;
    vertical-align: middle;
    padding:5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius:15px 50px;
    border: 2px solid #000000;
    width:15%;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 20px;
}

.boughtButt
{
    text-align: center;
    vertical-align: middle;
    color: #000000;
    padding:10px;
    margin:10px;
    margin-right: 0;
    box-sizing: border-box;
    width:122px;
    border-radius:15px 50px;
    border: 3px solid #000000;
    font-weight: bold;
    font-family: "Comic Sans MS";
    font-size: inherit;
    background: linear-gradient(to right, red, yellow);
}

.boughtButt:active
{
    border: 3px solid #ffffff;
    background: linear-gradient(to right, yellow, red);
    color: white;
}

.notBoughtButt
{
    text-align: center;
    vertical-align: middle;
    color: #000000;
    padding:10px;
    margin:10px;
    margin-right: 0;
    box-sizing: border-box;
    width:122px;
    border-radius:15px 50px;
    border: 3px solid #000000;
    font-weight: bold;
    font-family: "Comic Sans MS";
    font-size: inherit;
    background: linear-gradient(to right, red, yellow);
    float: right;
    margin-right: 10px;
    display: none;
}

.notBoughtButt:active
{
    border: 3px solid #ffffff;
    background: linear-gradient(to right, yellow, red);
    color: white;
}

.deleteButt
{
    margin: 0;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:50%;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 30px;
    background-color: #ff0000;
    color: #000000;
}

.deleteButt:active
{
    border: 2px solid #ffffff;
    color: white;
}

.toBuyLabel
{
    text-align: center;
    vertical-align: middle;
    display: block;
    width:25%;
    min-width:330px;
    max-width:330px;
    padding: 0;
    border-radius:15px 45px;
    border: 2px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 30px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.toBuyProducts
{
    display: inline-block;
    min-width:330px;
    max-width:330px;
    padding: 0px;
    border-radius:15px 45px;
    border: 2px solid #000000;
}

.good
{
    display:inline-block;
    padding:7px;
    border-radius:15px 45px;
    border: 2px solid #000000;
    margin: 5px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    background-color: #dffdfd;
}

.numberOfGoods
{
    display:inline-block;
    border: 1px dotted #000000;
    margin-left: 5px;
    border-radius:15px 45px;
    padding: 7px;
}

.alreadyBoughtProd
{
    display: inline-block;
    min-width:330px;
    max-width:330px;
    padding: 0px;
    border-radius:15px 45px;
    border: 2px solid #000000;
    min-height: 100px;
}

.sticker
{
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 30px;
    border-radius:15px 45px;
    position: fixed;
    bottom: -100px;
    background: #9333bf;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 2px solid #000000;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background: linear-gradient( rgba(133, 9, 183, .5), rgba(147, 51, 191, .5));
    transition:	all	3s	cubic-bezier(.17,.67,.04,1);
}

.sticker:after
{
    border-radius:15px 45px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(255, 255, 0, .5), rgba(255, 138, 36, .5) );
    z-index: -1;
    transition:	all	12s	cubic-bezier(.17,.67,.04,1);
    opacity:0;
}

.sticker:hover:after
{
    opacity: 1;
}

.sticker:hover
{
    bottom: 10px;
    transform: rotate(360deg);
    cursor: pointer;
}

.textInsideStickerBottom
{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

@media	print
{
    .sticker
    {
        background: #ffffff;
        border: 3px solid #9333bf;
    }

    .textInsideStickerBottom
    {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 50px;
        color: #000000;
    }

    .textInsideStickerTop
    {display: none;}
}

@media only screen and (max-width: 780px)
{
    .backInvisibleHouseCommodityList
    {
        float: left;
        width:	100%;
        max-width: 507px;
    }

    .toBuyLabel
    {
        display: block;
        width:	100%;
        max-width: 507px;
    }

    .toBuyProducts
    {
        display: block;
        width:	100%;
        max-width: 507px;
    }

    .alreadyBoughtProd
    {
        display: block;
        width:	100%;
        max-width: 507px;
    }

    .backInvisibleHouseCommoditiesInfo
    {
        display: block;
    }
}

.boughtButtClicked .fluid .button
{
    visibility: hidden;
}

.boughtButtClicked .textInProdInfo
{
    text-decoration: line-through;
}

.boughtButtClicked .right .boughtButt,
.boughtButtClicked .right .deleteButt
{
    display: none;
}

.boughtButtClicked .right .notBoughtButt
{
    display: block;
}

.boughtButtClicked .backProductInfo
{
    background: linear-gradient(rgba(133, 9, 183, .4), rgba(12, 140, 191, .4));
}

.boughtButtClicked .backProductInfo:hover
{
    background: linear-gradient(rgba(133, 9, 183, .7), rgba(12, 140, 191, .7));
}

.left .changeNameInput
{
    display: none;
}

.showInput .changeNameInput
{
    display: block;
    widht: 100px;
}

.showInput .textInProdInfo
{
    display: none;
}